@import './variables.scss';

body {
	font-family: $primary-font;
	font-size: 16px;
	letter-spacing: 0em;
	line-height: 1.6em;
	color: #444;
}

img {
	width: 100%;
}

.title {
	padding-top: 0;
	padding-bottom: 17px;
	padding-left: 17px;
	padding-right: 17px;
	font-family: $secondary-font;
}

.quotes {
	font-family: $quote-font;
}

.header-branding {
	padding-top: 40px;
	font-family: $secondary-font;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	letter-spacing: 0.25em;
	line-height: 1em;
	text-transform: uppercase;
	color: #1a1f2d;

	&:hover {
		color: #444;
		text-decoration: none;
	}
}

.intro {
	padding: 120px 40px;

	h1 {
		font-family: $secondary-font;
		font-weight: 400;
		font-style: normal;
		font-size: 24px;
		letter-spacing: 0em;
		line-height: 1.25em;
		text-transform: none;
		color: #1a1f2d;
		@media only screen and (min-width: 768px) {
			font-size: 34px;
		}
		@media only screen and (min-width: 992px) {
			font-size: 44px;
		}
	}
}

.resume {
	padding: 120px 40px;
	background-color: #f2f5f6;
}

.testimonials {
	padding: 120px 40px;
	.blockquote-footer {
		font-family: $secondary-font;
	}
}

.portfolio {
	padding: 120px 40px;
	background-color: #f2f5f6;
}

.contact {
	padding: 120px 40px;
	.list-item {
		a {
			color: $gray;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.2rem;
			border: 2px solid $gray;
			border-radius: 100px;
			padding: 10px;
			height: 50px;
			width: 50px;
			cursor: pointer;
			margin-right: 2rem;
			transition: all 0.5s ease;
			&:hover {
				color: #fff;
				background-color: $gray;
			}
		}
	}
}
